<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spmp.workorder.repository.EvaluationMapper">

    <select id="selectByOrderId" resultType="com.spmp.workorder.domain.entity.EvaluationDO">
        SELECT * FROM wo_evaluation
        WHERE order_id = #{orderId} AND del_flag = 0
        LIMIT 1
    </select>

</mapper>
